# Byte-compiled / optimized / DLL files
.DS_Store
.idea/
saved_model/
saved_model1/
runs/
*.pyc
*.tar.gz
.ckpt
.gitignore
data/
*.zip
testing.py
*.pem
.ipynb_checkpoints/
validation_loss_history
training_loss_history
validation_accuracy_history
training_accuracy_history